{% extends "form.html" %}
{% block formType %}Login{% endblock formType %}
{% block form %}
<div class="form-holder">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-primary alert-dismissible ml-5 mr-5">
        {% for message in messages %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h5 class="text-center">{{ message }}.</h5>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="form-content">
        <div class="form-items">
            <h3>Login</h3>
            <form method="post" action="{{ url_for('validate_login') }}">
                <input class="form-control" type="text" name="username" placeholder="Username" required>
                <input class="form-control" type="password" name="password" placeholder="Password" required>
                <div class="form-button">
                    <button id="submit" type="submit" class="ibtn">Login</button>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock form %}